name: dbms
services:
  postgres:
    image: postgres:latest
    restart: always
    environment:
      - POSTGRES_USER=${PG_USER}
      - POSTGRES_PASSWORD=${PG_PASSWORD}
      - POSTGRES_PORT=${PG_PORT}
      - POSTGRES_DB=${DB_NAME}
    volumes:
      - ./scripts/postgres:/docker-entrypoint-initdb.d
      # - ./data/postgres:/var/lib/postgresql/data     # uncomment this line if you want to persist data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready", "-h", "postgres", "-p", "5432", "-U", "${PG_USER}", "-d", "${DB_NAME}"]
      interval: 20s
      timeout: 10s
      retries: 10
      start_period: 60s


  pgadmin:
    image: dpage/pgadmin4
    environment:
      - PGADMIN_DEFAULT_EMAIL=${PGADMIN_DEFAULT_EMAIL}
      - PGADMIN_DEFAULT_PASSWORD=${PGADMIN_DEFAULT_PASSWORD}
      - PGADMIN_DISABLE_POSTFIX=True
    depends_on:
      postgres:
        condition: service_healthy
    restart: always
    ports:
      - 5433:80


  cassandra:
    build:
      context: scripts/cassandra
    restart: always
    volumes:
      - ./scripts/cassandra/data:/docker-entrypoint-initdb.d/
#      - ./data/cassandra:/bitnami       # uncomment this line if you want to persist data
    environment:
      - CASSANDRA_USER=${CASSANDRA_USER}
      - CASSANDRA_PASSWORD=${CASSANDRA_PASSWORD}
      - CASSANDRA_PASSWORD_SEEDER=yes
      - CASSANDRA_AUTHENTICATOR=PasswordAuthenticator
      - CASSANDRA_DC=dc1
      - CASSANDRA_ENDPOINT_SNITCH=GossipingPropertyFileSnitch
      - CASSANDRA_DELAY_START_TIME=0
      - CASSANDRA_ENABLE_USER_DEFINED_FUNCTIONS=true
    healthcheck:
      test: [ "CMD", "cqlsh", "-k", "${DB_NAME}"]
      interval: 20s
      timeout: 20s
      retries: 20
      start_period: 60s


  cassandra-web:
    image: ipushc/cassandra-web
    environment:
      - CASSANDRA_HOST=cassandra
      - CASSANDRA_PORT=9042
      - CASSANDRA_USERNAME=${CASSANDRA_USER}
      - CASSANDRA_PASSWORD=${CASSANDRA_PASSWORD}
      - HOST_PORT=:8083
    depends_on:
      cassandra:
        condition: service_healthy
    restart: always
    ports:
      - 9043:8083


  neo4j:
    image: neo4j:latest
    volumes:
      - ./scripts/neo4j:/var/lib/neo4j/import
#      - ./data/neo4j/logs:/logs                  # uncomment these lines if you want to persist data
#      - ./data/neo4j/config:/var/lib/neo4j/conf
#      - ./data/neo4j/data:/data
#      - ./data/neo4j/plugins:/plugins
    environment:
      - NEO4J_AUTH=${NEO_USER}/${NEO_PASSWORD}
      - NEO_USER=${NEO_USER}
      - NEO_PASSWORD=${NEO_PASSWORD}
    ports:
      - 7474:7474
      - 7687:7687
    restart: always
    healthcheck:
      test: [ "CMD", "cypher-shell", "-u", "${NEO_USER}", "-p", "${NEO_PASSWORD}", "MATCH () RETURN count(*)"]
      interval: 10s
      timeout: 20s
      retries: 10
      start_period: 60s
    entrypoint: ["/var/lib/neo4j/import/neo4j_entrypoint.sh"]


  mongo:
    image: mongo
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_USER}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_PASSWORD}
      - MONGO_INITDB_DATABASE=${DB_NAME}
    volumes:
      - ./scripts/mongo:/docker-entrypoint-initdb.d/
    restart: always
    healthcheck:
      test: ["CMD", "echo", "db.runCommand('ping').ok", "|", "mongosh", "mongodb://${MONGO_USER}:${MONGO_PASSWORD}@mongo:27017/${DB_NAME}", "--quiet"]
      interval: 20s
      timeout: 20s
      retries: 10
      start_period: 60s


  mongoclient:
    image: mongoclient/mongoclient
    environment:
      - MONGOCLIENT_DEFAULT_CONNECTION_URL=mongodb://${MONGO_USER}:${MONGO_PASSWORD}@mongo:27017
    ports:
      - 3001:3000
    depends_on:
      mongo:
        condition: service_healthy
    restart: always


  postgres2:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: ${PG_USER2}
      POSTGRES_PASSWORD: ${PG_PASSWORD2}
      POSTGRES_DB: ${PG_DATABASE2}
      POSTGRES_PORT: ${PG_PORT2}
    ports:
      - ${PG_PORT2}
    volumes:
#      - ./data/postgres2:/var/lib/postgresql/data
      - ./scripts/tool:/docker-entrypoint-initdb.d
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready", "-h", "postgres", "-p", "${PG_PORT2}", "-U", "${PG_USER}", "-d", "${PG_DATABASE2}" ]
      interval: 20s
      timeout: 10s
      retries: 10
      start_period: 60s


  backend:
    build: ./backend
    ports:
      - 5000:5000
    depends_on:
      postgres:
        condition: service_healthy
      postgres2:
        condition: service_healthy
      cassandra:
        condition: service_healthy
      mongo:
        condition: service_healthy
      neo4j:
        condition: service_healthy
    env_file:
      - .env

  frontend:
    build: ./frontend
    ports:
      - 3000:3000
    depends_on:
      - backend
    stdin_open: true
    tty: true